<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>This app uses the camera to identify objects in your rental property and provide helpful information.</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>armv7</string>
        <string>arkit</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIImageName</key>
        <string></string>
        <key>UIColorName</key>
        <string></string>
    </dict>
</dict>
</plist>
